<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="testcases1.Iowa.Verify_Features1"/>
      <class name="testcases1.Iowa.Verify_ConservationTechnicalAssistance1"/>
      <class name="testcases1.Iowa.Verify_GIS1"/>
      <class name="testcases1.Iowa.Verify_ConservationInnovationGrants1"/>
      <class name="testcases1.Iowa.Verify_ConservationPlanning1"/>
      <class name="testcases1.Iowa.Verify_SoilSurveys1"/>
      <class name="testcases1.Iowa.Verify_ThreatenedEndangeredSpecies1"/>
      <class name="testcases1.Iowa.Verify_STCMinutes1"/>
      <class name="testcases1.Iowa.Verify_Forestry1"/>
      <class name="testcases1.Iowa.Verify_TechnicalServiceProviders1"/>
      <class name="testcases1.Iowa.Verify_WatershedOperations1"/>
      <class name="testcases1.Iowa.Verify_TechnicalResources1"/>
      <class name="testcases1.Iowa.Verify_Newsroom1"/>
      <class name="testcases1.Iowa.Verify_Engineering1"/>
      <class name="testcases1.Iowa.Verify_AboutUs1"/>
      <class name="testcases1.Iowa.Verify_LandscapePlanning1"/>
      <class name="testcases1.Iowa.Verify_PestManagement1"/>
      <class name="testcases1.Iowa.Verify_EmergencyWatershedProtectionProgram1"/>
      <class name="testcases1.Iowa.Verify_Air1"/>
      <class name="testcases1.Iowa.Verify_AgriculturalConservationEasementProgram1"/>
      <class name="testcases1.Iowa.Verify_ManureManagement1"/>
      <class name="testcases1.Iowa.Verify_CulturalResources1"/>
      <class name="testcases1.Iowa.Verify_LocalServiceCenters1"/>
      <class name="testcases1.Iowa.Verify_DataMapsAnalysis1"/>
      <class name="testcases1.Iowa.Verify_EnvironmentalQualityIncentivesProgram1"/>
      <class name="testcases1.Iowa.Verify_Water1"/>
      <class name="testcases1.Iowa.Verify_HomePage1"/>
      <class name="testcases1.Iowa.Verify_Easements1"/>
      <class name="testcases1.Iowa.Verify_NationalResourcesInventory1"/>
      <class name="testcases1.Iowa.Verify_PublicationsFactSheets1"/>
      <class name="testcases1.Iowa.Verify_EventsDeadlines1"/>
      <class name="testcases1.Iowa.Verify_SoilHealth1"/>
      <class name="testcases1.Iowa.Verify_Agronomy1"/>
      <class name="testcases1.Iowa.Verify_ContactUs1"/>
      <class name="testcases1.Iowa.Verify_HealthyForestsReserveProgram1"/>
      <class name="testcases1.Iowa.Verify_WatershedRehabilitation1"/>
      <class name="testcases1.Iowa.Verify_Economics1"/>
      <class name="testcases1.Iowa.Verify_SuccessStories1"/>
      <class name="testcases1.Iowa.Verify_CIGProjectSearch1"/>
      <class name="testcases1.Iowa.Verify_SpecialEmphasisPrograms1"/>
      <class name="testcases1.Iowa.Verify_WatershedProtectionandFloodPreventionProgram1"/>
      <class name="testcases1.Iowa.Verify_FinancialAssistance1"/>
      <class name="testcases1.Iowa.Verify_Biology1"/>
      <class name="testcases1.Iowa.Verify_RapidWatershedAssessment1"/>
      <class name="testcases1.Iowa.Verify_SmallLimitedandBeginningFarmersRanchers1"/>
      <class name="testcases1.Iowa.Verify_PlantsAnimals1"/>
      <class name="testcases1.Iowa.Verify_ConservationStewardshipProgram1"/>
      <class name="testcases1.Iowa.Verify_NewsReleases1"/>
      <class name="testcases1.Iowa.Verify_WaterSupplyProducts1"/>
      <class name="testcases1.Iowa.Verify_STCAgenda1"/>
      <class name="testcases1.Iowa.Verify_NRCSEmployees1"/>
      <class name="testcases1.Iowa.Verify_Partners1"/>
      <class name="testcases1.Iowa.Verify_NutrientManagement1"/>
      <class name="testcases1.Iowa.Verify_Programs1"/>
      <class name="testcases1.Iowa.Verify_CivilRights1"/>
      <class name="testcases1.Iowa.Verify_ConservationCompliance1"/>
      <class name="testcases1.Iowa.Verify_InvasiveSpecies1"/>
      <class name="testcases1.Iowa.Verify_WaterSupply1"/>
      <class name="testcases1.Iowa.Verify_LandUse1"/>
      <class name="testcases1.Iowa.Verify_FarmBill1"/>
      <class name="testcases1.Iowa.Verify_Cropland1"/>
      <class name="testcases1.Iowa.Verify_Soils1"/>
      <class name="testcases1.Iowa.Verify_Energy1"/>
      <class name="testcases1.Iowa.Verify_People1"/>
      <class name="testcases1.Iowa.Verify_TribalAssistance1"/>
      <class name="testcases1.Iowa.Verify_TeachersandStudents1"/>
      <class name="testcases1.Iowa.Verify_StateOffice1"/>
      <class name="testcases1.Iowa.Verify_WatershedSurveysandPlanning1"/>
      <class name="testcases1.Iowa.Verify_AirQuality1"/>
      <class name="testcases1.Iowa.Verify_PublicNotices1"/>
      <class name="testcases1.Iowa.Verify_OutreachAdvocacy1"/>
      <class name="testcases1.Iowa.Verify_FeedbackForms1"/>
      <class name="testcases1.Iowa.Verify_RegionalConservationPartnershipProgram1"/>
      <class name="testcases1.Iowa.Verify_Volunteers1"/>
      <class name="testcases1.Iowa.Verify_RangePasture1"/>
      <class name="testcases1.Iowa.Verify_PhotosandVideos1"/>
      <class name="testcases1.Iowa.Verify_StateTechnicalCommittee1"/>
      <class name="testcases1.Iowa.Verify_EcologicalScience1"/>
      <class name="testcases1.Iowa.Verify_Careers1"/>
      <class name="testcases1.Iowa.Verify_LandscapeInitiatives1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
