<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="testcases1.Montana.Verify_Agronomy1"/>
      <class name="testcases1.Montana.Verify_NewsReleases1"/>
      <class name="testcases1.Montana.Verify_SnowSurvey1"/>
      <class name="testcases1.Montana.Verify_RangePasture1"/>
      <class name="testcases1.Montana.Verify_GIS1"/>
      <class name="testcases1.Montana.Verify_SiteMetadataInformation1"/>
      <class name="testcases1.Montana.Verify_DataAnalysis1"/>
      <class name="testcases1.Montana.Verify_InvasiveSpecies1"/>
      <class name="testcases1.Montana.Verify_Forecasts1"/>
      <class name="testcases1.Montana.Verify_PublicNotices1"/>
      <class name="testcases1.Montana.Verify_People1"/>
      <class name="testcases1.Montana.Verify_WaterSheds1"/>
      <class name="testcases1.Montana.Verify_AirQuality1"/>
      <class name="testcases1.Montana.Verify_TeachersandStudents1"/>
      <class name="testcases1.Montana.Verify_FeedbackForms1"/>
      <class name="testcases1.Montana.Verify_CulturalResources1"/>
      <class name="testcases1.Montana.Verify_Reservoirs1"/>
      <class name="testcases1.Montana.Verify_TribalAssistance1"/>
      <class name="testcases1.Montana.Verify_Soils1"/>
      <class name="testcases1.Montana.Verify_WaterResources1"/>
      <class name="testcases1.Montana.Verify_Programs1"/>
      <class name="testcases1.Montana.Verify_DataMapsAnalysis1"/>
      <class name="testcases1.Montana.Verify_PhotosandVideos1"/>
      <class name="testcases1.Montana.Verify_CIGProjectSearch1"/>
      <class name="testcases1.Montana.Verify_Partners1"/>
      <class name="testcases1.Montana.Verify_Easements1"/>
      <class name="testcases1.Montana.Verify_RegionalConservationPartnershipProgram1"/>
      <class name="testcases1.Montana.Verify_Newsroom1"/>
      <class name="testcases1.Montana.Verify_StateOffice1"/>
      <class name="testcases1.Montana.Verify_EcologicalScience1"/>
      <class name="testcases1.Montana.Verify_ContactUs1"/>
      <class name="testcases1.Montana.Verify_EventsDeadlines1"/>
      <class name="testcases1.Montana.Verify_SnowSurveyProducts1"/>
      <class name="testcases1.Montana.Verify_STCAgenda1"/>
      <class name="testcases1.Montana.Verify_WatershedProtectionandFloodPreventionProgram1"/>
      <class name="testcases1.Montana.Verify_WaterSupply1"/>
      <class name="testcases1.Montana.Verify_PublicationsFactSheets1"/>
      <class name="testcases1.Montana.Verify_Water1"/>
      <class name="testcases1.Montana.Verify_SoilSurveys1"/>
      <class name="testcases1.Montana.Verify_StateTechnicalCommittee1"/>
      <class name="testcases1.Montana.Verify_NRCSEmployees1"/>
      <class name="testcases1.Montana.Verify_HomePage1"/>
      <class name="testcases1.Montana.Verify_Economics1"/>
      <class name="testcases1.Montana.Verify_EnvironmentalQualityIncentivesProgram1"/>
      <class name="testcases1.Montana.Verify_Energy1"/>
      <class name="testcases1.Montana.Verify_AboutUs1"/>
      <class name="testcases1.Montana.Verify_LandscapePlanning1"/>
      <class name="testcases1.Montana.Verify_Features1"/>
      <class name="testcases1.Montana.Verify_NutrientManagement1"/>
      <class name="testcases1.Montana.Verify_Careers1"/>
      <class name="testcases1.Montana.Verify_AgriculturalConservationEasementProgram1"/>
      <class name="testcases1.Montana.Verify_BasinOutlookReports1"/>
      <class name="testcases1.Montana.Verify_ManureManagement1"/>
      <class name="testcases1.Montana.Verify_ConservationTechnicalAssistance1"/>
      <class name="testcases1.Montana.Verify_SuccessStories1"/>
      <class name="testcases1.Montana.Verify_CivilRights1"/>
      <class name="testcases1.Montana.Verify_NationalResourcesInventory1"/>
      <class name="testcases1.Montana.Verify_TechnicalResources1"/>
      <class name="testcases1.Montana.Verify_ThreatenedEndangeredSpecies1"/>
      <class name="testcases1.Montana.Verify_Volunteers1"/>
      <class name="testcases1.Montana.Verify_SpecialEmphasisPrograms1"/>
      <class name="testcases1.Montana.Verify_LandUse1"/>
      <class name="testcases1.Montana.Verify_WaterSupplyProducts1"/>
      <class name="testcases1.Montana.Verify_ConservationPlanning1"/>
      <class name="testcases1.Montana.Verify_Forestry1"/>
      <class name="testcases1.Montana.Verify_WatershedRehabilitation1"/>
      <class name="testcases1.Montana.Verify_Biology1"/>
      <class name="testcases1.Montana.Verify_Cropland1"/>
      <class name="testcases1.Montana.Verify_SurfaceWaterSupplyIndex1"/>
      <class name="testcases1.Montana.Verify_LandscapeInitiatives1"/>
      <class name="testcases1.Montana.Verify_RapidWatershedAssessment1"/>
      <class name="testcases1.Montana.Verify_SoilHealth1"/>
      <class name="testcases1.Montana.Verify_FarmBill1"/>
      <class name="testcases1.Montana.Verify_HealthyForestsReserveProgram1"/>
      <class name="testcases1.Montana.Verify_ConservationInnovationGrants1"/>
      <class name="testcases1.Montana.Verify_OutreachAdvocacy1"/>
      <class name="testcases1.Montana.Verify_Engineering1"/>
      <class name="testcases1.Montana.Verify_TechnicalServiceProviders1"/>
      <class name="testcases1.Montana.Verify_ConservationStewardshipProgram1"/>
      <class name="testcases1.Montana.Verify_ConservationCompliance1"/>
      <class name="testcases1.Montana.Verify_Air1"/>
      <class name="testcases1.Montana.Verify_FinancialAssistance1"/>
      <class name="testcases1.Montana.Verify_EmergencyWatershedProtectionProgram1"/>
      <class name="testcases1.Montana.Verify_SmallLimitedandBeginningFarmersRanchers1"/>
      <class name="testcases1.Montana.Verify_LocalServiceCenters1"/>
      <class name="testcases1.Montana.Verify_PlantsAnimals1"/>
      <class name="testcases1.Montana.Verify_WatershedSurveysandPlanning1"/>
      <class name="testcases1.Montana.Verify_PestManagement1"/>
      <class name="testcases1.Montana.Verify_STCMinutes1"/>
      <class name="testcases1.Montana.Verify_WatershedOperations1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
